@import "./vars";
@import "./fonts";
@import "./global";

.header {
  &__inner {
    margin-top: 24px;
    &-top {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      &__logo {
        width: 88px;
        height: 24px;
        margin-right: 16px;
      }
      &__city {
        position: relative;
        &-location {
          cursor: pointer;
          display: flex;
          align-items: center;
        }
        &-btn {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 1px solid #a7a7a7;
          border-radius: 50%;
          width: 32px;
          height: 32px;
          padding: 7px 2px 5px 1px;

          &:hover {
            border: 1px solid #fff;
          }
        }
        &-scope {
          margin-left: 8px;
          margin-right: 61px;
          color: $bg;
        }

        &-modal {
          // display: none;
          position: absolute;
          width: 384px;
          background: #fbfbfb;
          box-shadow: 0px 7px 38px rgba(44, 62, 106, 0.25);
          border-radius: 10px;
          z-index: 1;
          top: 40px;
          &__input {
            max-width: 352px;
            width: 100%;
            position: relative;
          }
          &__settlement {
            margin: 24px 16px 0;
            max-width: 352px;
            width: 100%;
            border: 2px solid #abc8ea;
            border-radius: 100px;
            outline: none;
            padding: 14px 25px 12px;
            color: $bg;
            &::placeholder {
              color: #a7a7a7;
              font-size: 14px;
            }
          }
          &__clear {
            position: absolute;
            bottom: 3px;
            right: 35px;
            cursor: pointer;
            display: none;
          }
          &__selected {
            max-width: 384px;
            width: 100%;
            padding: 16px;
            border-bottom: 1px solid #d8d8d8;
            display: none;
          }
          &__select {
            border: 1px solid #d8d8d8;
            border-radius: 100px;
            background-color: #0656b4;
            padding: 9px 35px 9px 20px;
            color: #fff;
            display: inline-block;
            position: relative;
            &__clear {
              position: absolute;
              right: 14px;
              top: 13px;
              cursor: pointer;
            }
          }
          &__items {
            max-height: 200px;
            position: relative;
            margin-top: 10px;
            overflow: auto;

            &::-webkit-scrollbar {
              width: 10px;
            }
            &::-webkit-scrollbar-track {
              background: transparent;
            }
            &::-webkit-scrollbar-thumb {
              background-color: rgb(226, 226, 236);
              border-radius: 20px;
              border: 3px solid rgb(248, 247, 246);
              &:hover {
                border: 2px solid rgb(248, 247, 246);
                background-color: rgb(150, 150, 165);
              }
            }
          }
          &__item {
            max-width: 384px;
            padding: 8px 16px 11px;
            color: $bg;
            cursor: pointer;
          }
          &__btn {
            border-radius: 0px 0px 10px 10px;
            font-size: 12px;
            line-height: 16px;
            color: #a7a7a7;
            font-family: "Formular Medium", sans-serif;
            font-weight: 500;
            padding: 16px;
            margin-top: 10px;
            text-align: center;
            letter-spacing: 2px;
            outline: none;
            cursor: pointer;
            border: none;
            border-top: 1px solid #d8d8d8;
            text-transform: uppercase;
            width: 100%;
            transition: all 0.3s ease-in-out;
            &.active {
              background-color: #0656b4;
              color: #fff;
            }
            &:hover {
              opacity: 0.9;
            }
          }
        }
      }

      &__input {
        max-width: 592px;
        width: 100%;
        position: relative;
        margin-right: 93px;
        &-search {
          position: absolute;
          top: 15px;
          left: 15px;
        }
        &-profession {
          width: 100%;
          border: 2px solid #abc8ea;
          border-radius: 100px;
          padding: 14px 48px 12px;
          outline: none;
          color: $bg;
          &::placeholder {
            color: #767676;
            text-align: center;
          }
        }
        &-clear {
          position: absolute;
          top: 16px;
          right: 16px;
          cursor: pointer;
          display: none;
        }
      }
      &__favorite {
        display: flex;
        align-items: center;
        margin-right: 39px;
        cursor: pointer;
        &-sum {
          color: $bg;
          margin-left: 5px;
        }
      }
      &__user {
        display: flex;
        align-items: center;
        cursor: pointer;
        &-name {
          color: $bg;
          margin-right: 7px;
        }
      }
    }
    &-menu {
      position: relative;
      &__list {
        display: flex;
        align-items: center;
        &-link {
          margin-right: 40px;
          text-align: center;
          font-size: 14px;
          line-height: 19px;
          color: $bg;
        }
      }
      &__arrowadd {
        position: absolute;
        right: 35px;
        top: 3px;
        cursor: pointer;
      }
    }
  }
}
